*{
    padding: 0;
    margin: 0;
}



h1 {
    padding-left: 490px;
    padding-top: 12px;
    color: #343a40;
}

.cart-item {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item p {
    margin: 0;
    padding: 0;
}

.cart-item p.content {
    font-weight: bold;
}

.cart-item p.user {
    color: #7b8a9f;
}

.idea-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.idea-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.idea-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.idea-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.idea-form button:hover {
    background-color: #0056b3;
}

#By{
    color: #7b8a9f;
    font-size: 18px;
    padding-left: 1340px;
}

.cart-item-link {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-in-out;
}

.cart-item-link:hover {
    background-color: #f0f0f0;
}

h2, p {
    margin: 0;
}

#trash{
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 12px;
    margin-top: 2px;
}

.svgs{
    display: flex;
}